<% if @name_array %>
  <% @name_array.each do |name_array| %>
    <table class="table">
      <thead class="thead">
        <tr>
          <th>#</th>
          <th>Student Name</th>
          <th>Campus</th>
          <th>Age</th>
        </tr>
      </thead>
      <tr>    
        <td><%= name_array[0] %></td>
        <td><%= name_array[1] %></td>
        <td><%= name_array[2] %></td>
        <td><%= name_array[3] %></td>
      </tr>
    </table>
  <% end %>
<% end %>
